<div class="header " _nghost-xjk-c34="">
    <header class="full-width content-centered">
        <div class="primary-container background description"
             style="background-image: url(&quot;/images/queue.webp&quot;);">
            <div class="wrapper">
                <div class="title">
                    <h1 tabindex="-1">Сервис электронной очереди!</h1>
                    <div class="description" style="">
                        Мы предлагаем удобный и быстрый способ зарегистрироваться свою очередь на получение необходимых услуг. Наша система позволяет вам удобно и комфортно получить услуги, без необходимости стоять в очереди на месте.
                    </div>
                </div>
                @*<div class="ctas" style="">
                    <div class="">
                        <a target="_self" href="/get-started">
                            <button mioripple="" tabindex="-1" class="mio-button">
                                <div class="state-overlay">
                                </div>
                                <span class="label">Создать свою очередь</span>
                                <div class="ripple">
                                </div>
                            </button>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>

    </header>
</div>