<div class="icon-button" mioanalyticstracking="" mioripple="" icon=@Icon
     role="button" aria-label=@AriaLabel tabindex="0" @onclick=@OnClickCallback >
    <span  class="google-symbols ">@(Icon ?? "menu")</span>
    <div class="ripple" style="display: block;" ></div>
</div>

@code {
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public EventCallback OnClickCallback { get; set; }
}