
.article-page {
    display: block;
    width: 100%;
    min-height: 100vh;
    margin: 8px auto;
    line-height: 1.5;
    overflow: visible
}


    .article-page.loaded {
        min-height: auto;
    }


::deep .header {
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 8px;
}


::deep main:focus {
    outline: none;
}


::deep main nav {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    transition-duration: .3s;
    transition-property: max-width,margin;
    transition-timing-function: cubic-bezier(.2,0,0,1);
    z-index: 1;
}


    ::deep main nav.sticky {
        max-width: 1040px;
        margin-bottom: 16px;
    }


        ::deep main nav.sticky .navigation-container {
            height: 72px;
        }


        ::deep main nav.sticky .scroll-button, main nav.sticky .tabbed-navigation {
            box-shadow: var(--theme-elevation-1);
        }


@media screen and (max-width:960px) {

    ::deep main nav {
        margin-top: -64px;
        padding-top: 63px;
    }
}


::deep .animation-container {
    display: block;
}


::deep .navigation-container {
    display: flex;
    justify-content: center;
    height: 88px;
    margin: 0 8px;
    padding-top: 9px;
    gap: 8px;
    transition: height .3s cubic-bezier(.2,0,0,1),opacity .2s cubic-bezier(.2,0,0,1);
    border-radius: 0 0 40px 40px;
    background: var(--theme-color-background);
    opacity: 1;
}


@media screen and (max-width:600px) {

    ::deep .navigation-container.mobile-scrolldown-hide {
        opacity: 0;
    }
}


::deep .scroll-button {
    display: flex;
    height: 100%;
    border-radius: 24px;
    background: var(--theme-color-surface-1);
    color: var(--theme-color-on-surface-variant);
    cursor: pointer;
}


    ::deep .scroll-button .google-symbols {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        border-radius: 24px;
        font-variation-settings: "wght" 400,"opsz" 24;
    }


    ::deep .scroll-button:focus-visible {
        margin: 0 -2px;
        border: 2px solid var(--theme-color-on-surface);
        outline: 0;
        box-shadow: inset 0 0 0 2px var(--theme-color-surface-0);
    }


    ::deep .scroll-button:hover .google-symbols {
        font-variation-settings: "wght" 600,"opsz" 24;
    }


    ::deep .scroll-button:active .google-symbols, ::deep .scroll-button:hover .google-symbols {
        background: var(--theme-color-on-surface-variant-2);
        color: var(--theme-color-on-surface);
    }


    ::deep .scroll-button:active .google-symbols {
        font-variation-settings: "wght" 300,"opsz" 24;
    }


::deep .tabbed-navigation {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: var(--theme-color-surface-1);
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}


::deep .tab {
    line-height: var(--theme-v2-title-m-line-height);
    display: inline-flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    border: none;
    border-radius: 40px;
    background: var(--theme-color-surface-1);
    color: var(--theme-color-on-surface-variant);
    line-height: 44px;
    text-decoration: initial;
    cursor: pointer;
    vertical-align: middle;
}


::deep .tab, ::deep .tab .tab-label {
    font-family: var(--theme-v2-title-m-font-family);
    font-size: var(--theme-v2-title-m-font-size);
    font-weight: var(--theme-v2-title-m-font-weight);
    letter-spacing: var(--theme-v2-title-m-letter-spacing);
    font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz);
}


    ::deep .tab .tab-label {
        line-height: var(--theme-v2-title-m-line-height);
        font-family: var(--theme-display-font-family);
        font-variation-settings: "GRAD" 0;
    }


    ::deep .tab .google-symbols, ::deep .tab .tab-label {
        transition: font-variation-settings .2s cubic-bezier(.2,0,0,1);
        z-index: 1;
    }


    ::deep .tab .google-symbols {
        margin-right: 8px;
        font-variation-settings: "wght" 400,"opsz" 24;
    }


    ::deep .tab:focus {
        margin: initial;
        box-shadow: none;
    }


    ::deep .tab:focus-visible {
        margin: initial;
        padding: 0 22px;
        border: 2px solid var(--theme-color-on-surface);
        outline: 0;
        box-shadow: inset 0 0 0 2px var(--theme-color-surface-0);
    }


    ::deep .tab:hover {
        background: var(--theme-color-on-surface-variant-2);
        color: var(--theme-color-on-surface);
    }


        ::deep .tab:hover:focus {
            border: initial;
            outline: initial;
        }


        ::deep .tab:hover .tab-label {
            font-variation-settings: "GRAD" 50;
        }


        ::deep .tab:hover .google-symbols {
            font-variation-settings: "wght" 600,"opsz" 24;
        }


    ::deep .tab:active {
        background: var(--theme-color-on-surface-variant-4);
        color: var(--theme-color-on-surface);
    }


        ::deep .tab:active .tab-label {
            font-variation-settings: "GRAD" -50;
        }


        ::deep .tab:active .google-symbols {
            font-variation-settings: "wght" 300,"opsz" 24;
        }


    ::deep .tab:before {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scaleX(.32);
        transition-duration: .2s;
        transition-property: transform,opacity;
        transition-timing-function: cubic-bezier(.2,0,0,1);
        border-radius: 40px;
        background: var(--theme-color-secondary-container);
        content: "";
    }


    ::deep .tab.active .tab-label {
        font-variation-settings: "GRAD" 125;
    }


    ::deep .tab.active .google-symbols, ::deep .tab.active .tab-label {
        color: var(--theme-color-on-secondary-container);
    }


    ::deep .tab.active .google-symbols {
        font-variation-settings: "FILL" 1,"wght" 400,"opsz" 24;
    }


    ::deep .tab.active:before {
        opacity: 1;
        transform: scaleX(1);
    }


    ::deep .tab.active:hover:before {
        background: var(--theme-color-on-surface-2);
    }


    ::deep .tab.active:hover .google-symbols {
        font-variation-settings: "FILL" 1,"wght" 600,"opsz" 24;
    }


    ::deep .tab.active:active:before {
        background: var(--theme-color-on-surface-4);
    }


    ::deep .tab.active:active .tab-label {
        font-variation-settings: "GRAD" -50;
    }


    ::deep .tab.active:active .google-symbols {
        font-variation-settings: "FILL" 1,"wght" 300,"opsz" 24;
    }


::deep .card-set {
    --min-row-height: unset;
    width: 100%;
    max-width: 1200px;
    margin: 88px auto 0;
    padding: 0 8px;
}


@media screen and (max-width:960px) {

    ::deep .card-set {
        margin: 64px auto 0;
    }
}


@media screen and (min-width:601px) and (max-width:1294px) {

    ::deep .card-set.no-prev .card {
        grid-column: 2/end;
    }
}


@media screen and (min-width:1295px) {

    ::deep .card-set.no-prev .card {
        grid-column: 4/end;
    }
}


@media screen and (min-width:1294px) {

    ::deep .content-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
}


::deep .carbon-container {
    flex: 1;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow: auto;
}


@media screen and (min-width:1294px) {

    ::deep .carbon-container {
        margin-left: 116px;
    }
}


::deep .back-to-top {
    display: flex;
    position: absolute;
    right: 8px;
    bottom: 8px;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    transition: opacity .2s cubic-bezier(.2,0,0,1);
    border-radius: 32px;
    background-color: var(--theme-color-tertiary-container);
    opacity: 1;
    color: var(--theme-color-on-tertiary-container);
    cursor: pointer;
    box-shadow: var(--theme-elevation-1);
}


@media screen and (min-width:1294px) {

    ::deep .back-to-top {
        display: none;
    }
}


::deep .back-to-top:not(.show) {
    opacity: 0;
}


@media screen and (max-width:600px) {

    ::deep .back-to-top.mobile-scrolldown-hide {
        opacity: 0;
    }
}


::deep .back-to-top .state-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
}


::deep .back-to-top:hover .state-overlay {
    background: var(--theme-color-on-surface-variant-2);
}


::deep .back-to-top:active .state-overlay {
    background: var(--theme-color-on-surface-variant-4);
}


::deep .carbon-export-button {
    margin-bottom: 16px;
}
