@inject NavigationManager manager

<div class="left-nav-rail" style="width: 88px">
    <a aria-label="skip to main content" class="skip-link" href="/#main_content"></a>
    <nav aria-label="Main" class="nav-rail-content">
        <NavLink class="section-link" aria-label="Home" href="" Match="NavLinkMatch.All">
            <span class="google-symbols" z-index="1">
                <svg width="24" height="24" viewBox="0 0 750 840">
                    <use xlink:href="images/Warglaive.svg#warglaive-logo"/>
                </svg>
            </span>
            <div class="label">Home</div>
        </NavLink>
        <NavLink class="section-link" aria-label="Get started" href="get-started">
            <span class="google-symbols">apps</span>
            <div class="label">Get started</div>
        </NavLink>
        <NavLink class="section-link" aria-label="Booking" href="booking">
            <span class="google-symbols">book_online</span>
            <div class="label">Booking</div>
        </NavLink>
        <NavLink class="section-link" aria-label="Music" href="music">
            <span class="google-symbols">music_note</span>
            <div class="label">Music</div>
        </NavLink>
        <NavLink class="section-link" aria-label="Money exchange" href="money_exchange">
            <span class="google-symbols">currency_exchange</span>
            <div class="label">Money exchange</div>
        </NavLink>
        <NavLink class="section-link" aria-label="Money exchange" href="signin">
            <span class="google-symbols">currency_exchange</span>
            <div class="label">Sign in</div>
        </NavLink>
    </nav>
    <div class="dark-mode-switch-container">
        <DarkModeSwitch OnClickCallback=@OnClickCallback Variant="compact" />
    </div>

</div>

@code {
    [Parameter] public EventCallback OnClickCallback { get; set; }

    private async Task ToHome()
    {
        manager.NavigateTo("");
    }
}



