<div role="banner" class="toolbar">
    <a aria-label="skip to main content" class="skip-link" href="/#main_content">
    </a>
    <TopAppBarFixed OnClickCallback=@OnClickCallback></TopAppBarFixed>
</div>

@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}