@page "/get-started"

<LandingPage>
    <Header />
    <div class="content-container ">
        <div class="section">
            <div class="section-header ">
                <h2 class="">News &amp; launches</h2>
                <div class="section-header-description ">
                </div>
            </div>

            <CardSet>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/fhyw5DMHcxoROzow8owQApE7MxUGVdH1lIXisNu9PZqkXYJD19fxLeauvE5OWp_jL-TG0En553TqcNUvPheP9CnsvA-yA0Q8fK7VUlXHfob2jfOLdQyn=w960&quot;);">
                    <Title>Android Developer Summit</Title>
                    <Description>
                        Catch Material updates and tutorials at ADS
                        2022, beginning October 24
                    </Description>
                </Card>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/V7AytLCAx5XG_KFvucW0jWaPvShdentmubcY5DVJOMC2_z4USSm1H25s2sm1KmFyoQfOt1OOCAzjsB7Tdl0IwS4fzHzRdPEMXmaj6Uz7GQl8B48zhCzv=w960&quot;);">
                    <Title>Announcing Relay Alpha</Title>
                    <Description>
                        Relay streamlines design and
                        development of custom components through Figma and Android Studio
                    </Description>
                </Card>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/mLGakWFjdX3zGBIhCUWqzjlj3gUXOY8hOed_ISzomlpNmjKWUiqCFyNGGAZFneVaK30v4GUpjn7lyIsI2Z7KPvMKrYkumzBr2nwbVe3BQKRkpam3sA=w960&quot;);">
                    <Title>New: Figma design kit for M3</Title>
                    <Description>
                        Jumpstart your designs with
                        customizable, ready-made M3 components available in Figma
                    </Description>
                </Card>
            </CardSet>
        </div>
        <div class="section"
             style="">
            <div class="section-header ">
                <h2 class="">
                    Design system updates
                </h2>
                <div class="section-header-description ">
                </div>
            </div>
            <CardSet>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/gK__LLaM4jqISqweP0_fxKpBhJuJgSJPqb7wuwRyqMwSBRnj1RJtgXrw69gdLsy2lyH33idBUO5whDJl1TYaHT50hMZc-tj1L49Iq0ctbynuU-0FbFk=w960&quot;);">
                    <Title>
                        Motion
                        system updates
                    </Title>
                    <Description>
                        Get started
                        applying motion, from ready-to-use transition patterns
                        to updated guidance
                    </Description>
                </Card>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/N68TlDku5dBAiqGX3B2_mI6F7o6Ki_SnhWvEmFjWmjwtnF4EKEaZfnQo5DxcPERsZiw_PPL2MVjMeEfudXnXTBL2Gg4ZenvGt2jBdOfza9aXYQrU-l0=w960&quot;);">
                    <Title>
                        Designing
                        depth &amp; elevation
                    </Title>
                    <Description>
                        Learn how to design
                        and build more usable interfaces with visual cues for
                        elevation
                    </Description>
                </Card>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/aLTg-FT4Ocgvjw1B_i3fOVK-rWoV3C7XCHyBkKwSbJFzIZtJjo-5atBHcSs9aZdHxiMw8-nP3lCnULJtFG_KdIVg7Gk-NV8sc1DJkeMRsTtir9pIu6IY=w960&quot;);">
                    <Title>
                        Accessibility
                        specs
                    </Title>
                    <Description>
                        Understand and
                        apply accessibility standards built into
                        Material
                    </Description>
                </Card>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/w0mg7Iy0YoeV7ViHTp9XRzZFTbCX-ME87HPfbv_XFFZlQ-D6tjVwxsY1X_HUrFiXf-kNp8LePGcqv2Oh3OiNU6J28BYhiTf8UQKJBRDYPZejkpKE0NQ=w960&quot;);">
                    <Title>
                        Material
                        Theme Builder
                    </Title>
                    <Description>
                        Easily migrate or
                        get started with the M3 color system and dynamic
                        color
                    </Description>
                </Card>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/HpSrY3MDHNM26cRveLm19mA9ptY0WimNYUmyGQgCxkdMUmLy2Z2Z0UCGQNjI2DloK5N1CwblbXunfDru2BFEmyWZnKql9leYos9dBOE8LT0cqA_XqwgX=w960&quot;);">
                    <Title>
                        List
                        component update
                    </Title>
                    <Description>
                        Standardized sizing
                        and new configuration options included in
                        updates
                    </Description>
                </Card>
                <Card Size="small" Image="background-image: url(&quot;https://lh3.googleusercontent.com/o-3owUf4wD7wrguE3BgQKuiYtfUNGtnZX1M3tMA4iFgiNY5KxSFK2KofDlY_aJxfji7i5Jbp1WOnfrbYyHtjByweMmYn4G5H5uHylIuRl7OGR_TeMBo=w960&quot;);">
                    <Title>
                        Progress
                        indicator update
                    </Title>
                    <Description>
                        New color mappings
                        and motion examples included in updates
                    </Description>
                </Card>
            </CardSet>
        </div>
        <div class="section  " style="">
            <div class="section-header ">
                <h2 class="">Resources</h2>
                <div class="section-header-description ">
                </div>
            </div>
            <CardSet Class="stack col-2">
                <Card Size="small">
                    <Title>
                        Material
                        blog
                    </Title>
                    <Description>
                        News, tutorials,
                        and inspiration from the Material team
                    </Description>
                </Card>
                <Card Size="small">
                    <Title>
                        Figma
                        design kit
                    </Title>
                    <Description>
                        Customizable styles
                        and components to help you design with Material
                        3
                    </Description>
                </Card>
                <Card Size="small">
                    <Title>
                        Get
                        started
                    </Title>
                    <Description>
                        Guides, videos, and
                        tools to start building with Material
                    </Description>
                </Card>
                <Card Size="small">
                    <Title>Develop</Title>
                    <Description>
                        Code and developer
                        documentation for Android, Flutter, and the
                        Web
                    </Description>
                </Card>
            </CardSet>
        </div>
    </div>
</LandingPage>