@page "/money_exchange"

<Table>
    <table>
        <thead>
            <tr>
                <th>Курс</th>
                <th>У него есть</th>
                <th>Ему нужно</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="2">+13,59%  12990,0000</th>
                <td>1,00</td>
                <td>12 990,00</td>
            </tr>
            <tr>
                <td>3,00</td>
                <td>39 000,00</td>
            </tr>
            <tr>
                <th>+15,42%  13199,0000</th>
                <td>10,24</td>
                <td>135 157,76</td>
            </tr>
            <tr>
                <th rowspan="2">+13,59%  12990,0000</th>
                <td>1,00</td>
                <td>12 990,00</td>
            </tr>
            <tr>
                <td>3,00</td>
                <td>39 000,00</td>
            </tr>
            <tr>
                <th>+15,42%  13199,0000</th>
                <td>10,24</td>
                <td>135 157,76</td>
            </tr>

        </tbody>
    </table>
</Table>

@code {

}
