@inherits LayoutComponentBase
@layout MainLayout

<div class="article-page loaded">
    <div class="animation-container">

        <main id="main_content" role="main" aria-label="Main Content" tabindex="-1">
            @Body
        </main>

        <div role="button" aria-label="go back to top" tabindex="0"
             class="back-to-top ">
            <div class="state-overlay ">
            </div>
            <span class="google-symbols ">vertical_align_top</span>
        </div>

        <Footer />

    </div>
</div>
