
<div class="drawer" type="modal">
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--modal @DrawerOpen"
           style="border-right-width: 0px; border-radius: 0px 16px 16px 0px; top: 0px; bottom: 0px; height: unset; transition-property: transform, box-shadow; transition-duration: 300ms; transition-timing-function: cubic-bezier(0.2, 0, 0, 1); background: var(--theme-color-surface-2); border-left: 1px solid var(--theme-color-surface-variant); left: 0px; box-shadow: none;">
        <div class="mdc-drawer__content">
            <nav aria-label="navigation drawer" id="navigationDrawer" class="">
                <div class="nav-drawer-section ">

                    <IconButton OnClickCallback=Toggle Icon="menu_open" />

                    <div class="topic-wrapper ng-trigger ng-trigger-fadeInOutSectionModal ">
                        <NavLink class="item" @onclick=Toggle aria-label="Home" href="" Match="NavLinkMatch.All">
                            <span class="section-icon google-symbols ">
                                <svg width="24" height="24" viewBox="0 0 750 840">
                                    <use xlink:href="images/Warglaive.svg#warglaive-logo" />
                                </svg>
                            </span>
                            <div class="label">Home</div>
                        </NavLink>
                        <NavLink class="item" @onclick=Toggle aria-label="Queues" href="queues">
                            <span class="section-icon google-symbols ">apps</span>
                            <div class="label">Queues</div>
                        </NavLink>
                        <NavLink class="item" @onclick=Toggle aria-label="Booking" href="booking">
                            <span class="section-icon google-symbols">book_online</span>
                            <div class="label">Booking</div>
                        </NavLink>
                        <NavLink class="item" @onclick=Toggle aria-label="Music" href="music">
                            <span class="section-icon google-symbols">music_note</span>
                            <div class="label">Music</div>
                        </NavLink>
                        <NavLink class="item" @onclick=Toggle aria-label="Money exchange" href="money_exchange">
                            <span class="section-icon google-symbols">currency_exchange</span>
                            <div class="label">Money exchange</div>
                        </NavLink>
                        <NavLink class="item" @onclick=Toggle aria-label="Money exchange" href="signin">
                            <span class="section-icon google-symbols">currency_exchange</span>
                            <div class="label">Sign in</div>
                        </NavLink>
                    </div>
                </div>

                <div class="dark-mode-switch-container">
                    <DarkModeSwitch SwitchClick="@SwitchClick" Variant="full" />
                </div>
            </nav>
        </div>
    </aside>
    <div class="mdc-drawer-scrim" @onclick=@Toggle></div>
    <div class="mdc-drawer-app-content" style="margin-left: 0;">
        <div class="page-content">
            <Toolbar OnClickCallback=@Toggle />
            <div class="content-container ">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    private bool isOpened;
    public void Toggle() => isOpened = !isOpened;
    private string? IsOpened => (isOpened ? "open" : null);
    private string? DrawerOpen => (isOpened ? "mdc-drawer--open" : null);

    [Parameter] public EventCallback SwitchClick { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

}