<div  class="footer" >
    <div class="squiggle">
        <svg aria-hidden="true" width="100%" height="8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <pattern id="a" width="91" height="8" patternUnits="userSpaceOnUse">
                <g clip-path="url(#clip0_2426_11367)">
                    <path d="M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0" stroke="#E1E3E1" stroke-linecap="square">
                    </path>
                </g>
            </pattern>
            <rect width="100%" height="100%" fill="url(#a)">
            </rect>
        </svg>
    </div>
    <footer>
        <section class="about">
            <div class="about-material">
                <a analyticslabel="/" href="/" aria-label="Material Design">
                    <span class="material-icons">
                        <svg width="40" height="40" viewBox="0 0 750 840">
                            <use xlink:href="images/Warglaive.svg#warglaive-logo" />
                        </svg>
                    </span>
                </a>
                <p>Material Design is an adaptable system of guidelines, components, and tools that support the best practices of user interface design. Backed by open-source code, Material Design streamlines collaboration between designers and developers, and helps teams quickly build beautiful products.</p>
            </div>
            <ul class="social-links">
                <li>Social</li>
                <li>
                    <a rel="noopener" href="#" target="_blank" aria-label="Find us on Github">GitHub </a>
                </li>
                <li>
                    <a rel="noopener" href="#" target="_blank" aria-label="Find us on Twitter">Twitter </a>
                </li>
                <li>
                    <a rel="noopener" href="#" target="_blank" aria-label="Find us on Youtube">YouTube </a>
                </li>
                <li>
                    <a rel="noopener" href="#" target="_blank">Blog RSS </a>
                </li>

            </ul>
            <ul class="library-links">
                <li>Column#2</li>
                <li>
                    <a rel="noopener" href="#" target="" aria-label="Android">Link#1 </a>
                </li>
                <li>
                    <a rel="noopener" href="#" target="" aria-label="Compose">Link#2 </a>
                </li>
                <li>
                    <a rel="noopener" href="#" target="" aria-label="Flutter">Link#3 </a>
                </li>
                <li>
                    <a rel="noopener" href="#" target="" aria-label="web">Link#4 </a>
                </li>

            </ul>
            <ul class="versions">
                <li>Column#3</li>
                <li>
                    <a href="#" target="_blank" rel="noopener" aria-label="Link#1">Link#1 </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener" aria-label="Link#2">Link#2 </a>
                </li>
            </ul>
        </section>
        <section class="legal">
            <ul>
                <li class="google-logo">
                    <a href="#" rel="noopener" target="_blank" aria-label="Google">
                        illidan
                    </a>
                </li>
                <li class="legal-link ">
                    <a rel="noopener" href="#" target="">Privacy Policy </a>
                </li>
                <li class="legal-link ">
                    <a rel="noopener" href="#" target="">Terms of Service </a>
                </li>
                <li class="legal-link ">
                    <a rel="noopener" href="#" target="">Join research studies </a>
                </li>

                <li class="legal-link">
                    <a href="#">Feedback</a>
                </li>
            </ul>
        </section>
    </footer>
</div>