@inherits LayoutComponentBase
@layout MainLayout

<div class="landing-page loaded">
    <div class="animation-container ng-trigger ng-trigger-fadeIn">
        <main id="main_content" role="main" aria-label="Main Content" tabindex="-1">
            @Body
        </main>
        <Footer />
    </div>
</div>
