a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

#app {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: "";
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

:root {
    --theme-display-font-family: "Google Sans",sans-serif;
    --theme-text-font-family: "Google Sans Text",sans-serif;
    --theme-mono-font-family: "Google Sans Mono",sans-serif;
    --theme-v2-hero-font-family: var(--theme-display-font-family);
    --theme-v2-hero-font-size: 112px;
    --theme-v2-hero-line-height: 1;
    --theme-v2-hero-font-weight: 475;
    --theme-v2-hero-font-variation-GRAD: 0;
    --theme-v2-hero-font-variation-opsz: 18;
    --theme-v2-hero-letter-spacing: 0;
    --theme-v2-display-xl-font-family: var(--theme-display-font-family);
    --theme-v2-display-xl-font-size: 88px;
    --theme-v2-display-xl-line-height: 96px;
    --theme-v2-display-xl-font-weight: 475;
    --theme-v2-display-xl-font-variation-GRAD: 0;
    --theme-v2-display-xl-font-variation-opsz: 18;
    --theme-v2-display-xl-letter-spacing: 0;
    --theme-v2-display-l-font-family: var(--theme-display-font-family);
    --theme-v2-display-l-font-size: 57px;
    --theme-v2-display-l-line-height: 64px;
    --theme-v2-display-l-font-weight: 475;
    --theme-v2-display-l-font-variation-GRAD: 0;
    --theme-v2-display-l-font-variation-opsz: 18;
    --theme-v2-display-l-letter-spacing: 0;
    --theme-v2-display-m-font-family: var(--theme-display-font-family);
    --theme-v2-display-m-font-size: 45px;
    --theme-v2-display-m-line-height: 52px;
    --theme-v2-display-m-font-weight: 475;
    --theme-v2-display-m-font-variation-GRAD: 0;
    --theme-v2-display-m-font-variation-opsz: 18;
    --theme-v2-display-m-letter-spacing: 0;
    --theme-v2-display-s-font-family: var(--theme-display-font-family);
    --theme-v2-display-s-font-size: 36px;
    --theme-v2-display-s-line-height: 44px;
    --theme-v2-display-s-font-weight: 475;
    --theme-v2-display-s-font-variation-GRAD: 0;
    --theme-v2-display-s-font-variation-opsz: 18;
    --theme-v2-display-s-letter-spacing: 0;
    --theme-v2-headline-l-font-family: var(--theme-display-font-family);
    --theme-v2-headline-l-font-size: 32px;
    --theme-v2-headline-l-line-height: 40px;
    --theme-v2-headline-l-font-weight: 475;
    --theme-v2-headline-l-font-variation-GRAD: 0;
    --theme-v2-headline-l-font-variation-opsz: 18;
    --theme-v2-headline-l-letter-spacing: 0;
    --theme-v2-headline-m-font-family: var(--theme-display-font-family);
    --theme-v2-headline-m-font-size: 28px;
    --theme-v2-headline-m-line-height: 36px;
    --theme-v2-headline-m-font-weight: 475;
    --theme-v2-headline-m-font-variation-GRAD: 0;
    --theme-v2-headline-m-font-variation-opsz: 18;
    --theme-v2-headline-m-letter-spacing: 0;
    --theme-v2-headline-s-font-family: var(--theme-display-font-family);
    --theme-v2-headline-s-font-size: 24px;
    --theme-v2-headline-s-line-height: 32px;
    --theme-v2-headline-s-font-weight: 475;
    --theme-v2-headline-s-font-variation-GRAD: 0;
    --theme-v2-headline-s-font-variation-opsz: 18;
    --theme-v2-headline-s-letter-spacing: 0;
    --theme-v2-title-l-font-family: var(--theme-text-font-family);
    --theme-v2-title-l-font-size: 22px;
    --theme-v2-title-l-line-height: 30px;
    --theme-v2-title-l-font-weight: 400;
    --theme-v2-title-l-font-variation-GRAD: 0;
    --theme-v2-title-l-font-variation-opsz: 17;
    --theme-v2-title-l-letter-spacing: 0;
    --theme-v2-title-m-font-family: var(--theme-text-font-family);
    --theme-v2-title-m-font-size: 16px;
    --theme-v2-title-m-line-height: 24px;
    --theme-v2-title-m-font-weight: 500;
    --theme-v2-title-m-font-variation-GRAD: 0;
    --theme-v2-title-m-font-variation-opsz: 17;
    --theme-v2-title-m-letter-spacing: 0;
    --theme-v2-title-s-font-family: var(--theme-text-font-family);
    --theme-v2-title-s-font-size: 14px;
    --theme-v2-title-s-line-height: 20px;
    --theme-v2-title-s-font-weight: 500;
    --theme-v2-title-s-font-variation-GRAD: 0;
    --theme-v2-title-s-font-variation-opsz: 17;
    --theme-v2-title-s-letter-spacing: 0;
    --theme-v2-label-l-font-family: var(--theme-text-font-family);
    --theme-v2-label-l-font-size: 14px;
    --theme-v2-label-l-line-height: 20px;
    --theme-v2-label-l-font-weight: 500;
    --theme-v2-label-l-font-variation-GRAD: 0;
    --theme-v2-label-l-font-variation-opsz: 17;
    --theme-v2-label-l-letter-spacing: 0;
    --theme-v2-label-m-font-family: var(--theme-text-font-family);
    --theme-v2-label-m-font-size: 12px;
    --theme-v2-label-m-line-height: 16px;
    --theme-v2-label-m-font-weight: 500;
    --theme-v2-label-m-font-variation-GRAD: 0;
    --theme-v2-label-m-font-variation-opsz: 17;
    --theme-v2-label-m-letter-spacing: .1px;
    --theme-v2-label-s-font-family: var(--theme-text-font-family);
    --theme-v2-label-s-font-size: 11px;
    --theme-v2-label-s-line-height: 16px;
    --theme-v2-label-s-font-weight: 500;
    --theme-v2-label-s-font-variation-GRAD: 0;
    --theme-v2-label-s-font-variation-opsz: 17;
    --theme-v2-label-s-letter-spacing: .1px;
    --theme-v2-body-l-font-family: var(--theme-text-font-family);
    --theme-v2-body-l-font-size: 16px;
    --theme-v2-body-l-line-height: 24px;
    --theme-v2-body-l-font-weight: 400;
    --theme-v2-body-l-font-variation-GRAD: 0;
    --theme-v2-body-l-font-variation-opsz: 17;
    --theme-v2-body-l-letter-spacing: 0;
    --theme-v2-body-m-font-family: var(--theme-text-font-family);
    --theme-v2-body-m-font-size: 14px;
    --theme-v2-body-m-line-height: 20px;
    --theme-v2-body-m-font-weight: 400;
    --theme-v2-body-m-font-variation-GRAD: 0;
    --theme-v2-body-m-font-variation-opsz: 17;
    --theme-v2-body-m-letter-spacing: 0;
    --theme-v2-body-s-font-family: var(--theme-text-font-family);
    --theme-v2-body-s-font-size: 12px;
    --theme-v2-body-s-line-height: 16px;
    --theme-v2-body-s-font-weight: 400;
    --theme-v2-body-s-font-variation-GRAD: 0;
    --theme-v2-body-s-font-variation-opsz: 17;
    --theme-v2-body-s-letter-spacing: .1px;
    --theme-v2-code-l-font-family: var(--theme-mono-font-family);
    --theme-v2-code-l-font-size: 16px;
    --theme-v2-code-l-line-height: 24px;
    --theme-v2-code-l-font-weight: 400;
    --theme-v2-code-l-letter-spacing: 0;
    --theme-v2-code-m-font-family: var(--theme-mono-font-family);
    --theme-v2-code-m-font-size: 14px;
    --theme-v2-code-m-line-height: 20px;
    --theme-v2-code-m-font-weight: 400;
    --theme-v2-code-m-letter-spacing: 0;
    --theme-v2-code-snippet-font-family: var(--theme-mono-font-family);
    --theme-v2-code-snippet-font-size: 15px;
    --theme-v2-code-snippet-line-height: 32px;
    --theme-v2-code-snippet-font-weight: 500;
    -webkit-font-smoothing: antialiased
}

.root {
    --theme-color-on-surface-variant-2: linear-gradient(0deg,rgba(68,71,70,.08),rgba(68,71,70,.08));
    --theme-color-on-surface-variant-4: linear-gradient(0deg,rgba(68,71,70,.12),rgba(68,71,70,.12));
    --theme-color-on-surface-2: linear-gradient(0deg,rgba(31,31,31,.08),rgba(31,31,31,.08)),var(--theme-color-secondary-container);
    --theme-color-on-surface-4: linear-gradient(0deg,rgba(31,31,31,.12),rgba(31,31,31,.12)),var(--theme-color-secondary-container);
    --theme-color-white: #fff;
    --theme-color-on-background: #1f1f1f;
    --theme-color-background: #fff;
    --theme-color-on-surface: #1f1f1f;
    --theme-color-on-surface-variant: #444746;
    --theme-color-surface-0: #fff;
    --theme-color-surface-variant: #e1e3e1;
    --theme-color-inverse-surface: #303030;
    --theme-color-inverse-on-surface: #f2f2f2;
    --theme-color-primary: #0b57d0;
    --theme-color-primary-80: #a8c7fa;
    --theme-color-primary-30: #0842a0;
    --theme-color-primary-20: #062e6f;
    --theme-color-on-primary: #fff;
    --theme-color-neutral-10: #1f1f1f;
    --theme-color-neutral-90: #e3e3e3;
    --theme-color-primary-container: #d3e3fd;
    --theme-color-on-primary-container: #041e49;
    --theme-color-secondary: #00639b;
    --theme-color-on-secondary: #fff;
    --theme-color-secondary-container: #c2e7ff;
    --theme-color-on-secondary-container: #001d35;
    --theme-color-tertiary-container: #c4eed0;
    --theme-color-on-tertiary-container: #072711;
    --theme-color-utility-error: #b3261e;
    --theme-color-utility-on-error: #fff;
    --theme-color-utility-outline: #747775;
    --theme-color-surface-1: #f8fafd;
    --theme-color-surface-2: #f3f6fc;
    --theme-color-surface-3: #eff3fa;
    --theme-color-surface-4: #edf2fa;
    --theme-color-surface-5: #eaf0f9;
    --theme-color-extensions-do-container: #085786;
    --theme-color-extensions-on-do-container: #fff;
    --theme-color-extensions-dont-container: #b3261e;
    --theme-color-extensions-on-dont-container: #fff;
    --theme-color-extensions-caution-container: #e8e971;
    --theme-color-extensions-on-caution-container: #1f1f1f;
    --theme-color-ref-secondary-200: #7fcfff;
    --theme-color-ref-secondary-300: #5ab3f0;
    --theme-color-ref-neutral-100: #e3e3e3;
    --theme-color-ref-neutral-200: #c7c7c7;
    --theme-color-scrim-video-container: rgba(31,31,31,.64);
    --theme-color-scrim-video-control: hsla(0,0%,100%,.12);
    --theme-color-scrim-video-control-pressed: hsla(0,0%,100%,.24);
    --theme-color-copy-link-tooltip: #f2f2f2;
    --theme-elevation-1: 0px 1px 2px 0px rgba(0,0,0,.3),0px 1px 3px 1px rgba(0,0,0,.15);
    --theme-elevation-2: 0px 1px 2px 0px rgba(0,0,0,.3),0px 2px 6px 2px rgba(0,0,0,.15);
    --theme-elevation-3: 0px 1px 3px 0px rgba(0,0,0,.3),0px 4px 8px 3px rgba(0,0,0,.15);
}

    .root.dark-mode {
        --theme-color-on-surface-variant-2: linear-gradient(0deg,hsla(140,3%,77%,.08),hsla(140,3%,77%,.08));
        --theme-color-on-surface-variant-4: linear-gradient(0deg,hsla(140,3%,77%,.12),hsla(140,3%,77%,.12));
        --theme-color-on-surface-2: linear-gradient(0deg,hsla(0,0%,89%,.08),hsla(0,0%,89%,.08)),var(--theme-color-secondary-container);
        --theme-color-on-surface-4: linear-gradient(0deg,hsla(0,0%,89%,.12),hsla(0,0%,89%,.12)),var(--theme-color-secondary-container);
        --theme-color-white: #fff;
        --theme-color-on-background: #e3e3e3;
        --theme-color-background: #1f1f1f;
        --theme-color-on-surface: #e3e3e3;
        --theme-color-on-surface-variant: #c4c7c5;
        --theme-color-surface-0: #1f1f1f;
        --theme-color-surface-variant: #444746;
        --theme-color-inverse-surface: #e3e3e3;
        --theme-color-inverse-on-surface: #303030;
        --theme-color-surface-1: #28292a;
        --theme-color-surface-2: #2d2f31;
        --theme-color-surface-3: #333438;
        --theme-color-surface-4: #34363a;
        --theme-color-surface-5: #383a3e;
        --theme-color-primary: #a8c7fa;
        --theme-color-primary-80: #a8c7fa;
        --theme-color-primary-30: #0842a0;
        --theme-color-primary-20: #062e6f;
        --theme-color-neutral-10: #1f1f1f;
        --theme-color-neutral-90: #e3e3e3;
        --theme-color-on-primary: #062e6f;
        --theme-color-primary-container: #0842a0;
        --theme-color-on-primary-container: #d3e3fd;
        --theme-color-secondary: #7fcfff;
        --theme-color-on-secondary: #035;
        --theme-color-secondary-container: #004a77;
        --theme-color-on-secondary-container: #c2e7ff;
        --theme-color-tertiary-container: #0f5223;
        --theme-color-on-tertiary-container: #c4eed0;
        --theme-color-utility-error: #f2b8b5;
        --theme-color-utility-on-error: #601410;
        --theme-color-utility-outline: #8e918f;
        --theme-color-extensions-do-container: #b4e5f2;
        --theme-color-extensions-on-do-container: #073550;
        --theme-color-extensions-dont-container: #f2b8b5;
        --theme-color-extensions-on-dont-container: #601410;
        --theme-color-extensions-caution-container: #e2e290;
        --theme-color-extensions-on-caution-container: #473e00;
        --theme-color-copy-link-tooltip: #f2f2f2;
        --theme-elevation-1: 0px 1px 2px 0px rgba(0,0,0,.3),0px 1px 3px 1px rgba(0,0,0,.15);
        --theme-elevation-2: 0px 1px 2px 0px rgba(0,0,0,.3),0px 2px 6px 2px rgba(0,0,0,.15);
        --theme-elevation-3: 0px 1px 3px 0px rgba(0,0,0,.3),0px 4px 8px 3px rgba(0,0,0,.15)
    }

    .root.green {
        --theme-color-on-surface-variant-2: linear-gradient(0deg,rgba(67,73,62,.08),rgba(67,73,62,.08));
        --theme-color-on-surface-variant-4: linear-gradient(0deg,rgba(67,73,62,.12),rgba(67,73,62,.12));
        --theme-color-on-surface-2: linear-gradient(0deg,rgba(26,28,24,.08),rgba(26,28,24,.08)),var(--theme-color-secondary-container);
        --theme-color-on-surface-4: linear-gradient(0deg,rgba(26,28,24,.12),rgba(26,28,24,.12)),var(--theme-color-secondary-container);
        --theme-color-white: #fff;
        --theme-color-on-background: #1a1c18;
        --theme-color-background: #fdfdf6;
        --theme-color-on-surface: #1a1c18;
        --theme-color-on-surface-variant: #43493e;
        --theme-color-surface-0: #fdfdf6;
        --theme-color-surface-variant: #dfe4d6;
        --theme-color-inverse-surface: #2f312c;
        --theme-color-inverse-on-surface: #f1f1ea;
        --theme-color-primary: #386a20;
        --theme-color-primary-80: #9cd67d;
        --theme-color-primary-30: #205107;
        --theme-color-primary-20: #0c3900;
        --theme-color-on-primary: #fff;
        --theme-color-primary-container: #b8f397;
        --theme-color-on-primary-container: #042100;
        --theme-color-secondary: #55624c;
        --theme-color-on-secondary: #fff;
        --theme-color-secondary-container: #d9e7cb;
        --theme-color-on-secondary-container: #131f0d;
        --theme-color-tertiary-container: #bbebeb;
        --theme-color-on-tertiary-container: #002021;
        --theme-color-utility-error: #ba1b1b;
        --theme-color-utility-on-error: #fff;
        --theme-color-utility-outline: #74796e;
        --theme-color-surface-1: #f0f3e8;
        --theme-color-surface-2: #ebefe2;
        --theme-color-surface-3: #e5eadc;
        --theme-color-surface-4: #e3e9da;
        --theme-color-surface-5: #dfe6d5;
        --theme-color-ref-secondary-200: #bdcbb0;
        --theme-color-ref-secondary-300: #a1b095;
        --theme-color-ref-neutral-100: #e3e3e3;
        --theme-color-ref-neutral-200: #c7c7c7
    }

        .root.green.dark-mode {
            --theme-color-on-surface-variant-2: linear-gradient(0deg,hsla(78,11%,76%,.08),hsla(78,11%,76%,.08));
            --theme-color-on-surface-variant-4: linear-gradient(0deg,hsla(78,11%,76%,.12),hsla(78,11%,76%,.12));
            --theme-color-on-surface-2: linear-gradient(0deg,hsla(60,11%,88%,.08),hsla(60,11%,88%,.08)),var(--theme-color-secondary-container);
            --theme-color-on-surface-4: linear-gradient(0deg,hsla(60,11%,88%,.12),hsla(60,11%,88%,.12)),var(--theme-color-secondary-container);
            --theme-color-white: #fff;
            --theme-color-on-background: #e3e3dc;
            --theme-color-background: #1a1c18;
            --theme-color-on-surface: #e3e3dc;
            --theme-color-on-surface-variant: #c4c8bb;
            --theme-color-surface-0: #1a1c18;
            --theme-color-surface-variant: #43493e;
            --theme-color-surface-1: #232820;
            --theme-color-surface-2: #272e23;
            --theme-color-surface-3: #2b3326;
            --theme-color-surface-4: #2c3527;
            --theme-color-surface-5: #2f3929;
            --theme-color-inverse-surface: #2f312c;
            --theme-color-inverse-on-surface: #f1f1ea;
            --theme-color-primary: #9cd67d;
            --theme-color-primary-80: #9cd67d;
            --theme-color-primary-30: #205107;
            --theme-color-primary-20: #0c3900;
            --theme-color-neutral-10: #1a1c18;
            --theme-color-neutral-90: #e3e3dc;
            --theme-color-on-primary: #0c3900;
            --theme-color-primary-container: #205107;
            --theme-color-on-primary-container: #b8f397;
            --theme-color-secondary: #bdcbb0;
            --theme-color-on-secondary: #273420;
            --theme-color-secondary-container: #3e4a36;
            --theme-color-on-secondary-container: #d9e7cb;
            --theme-color-tertiary-container: #1e4e4e;
            --theme-color-on-tertiary-container: #bbebeb;
            --theme-color-utility-error: #ffb4a9;
            --theme-color-utility-on-error: #680003;
            --theme-color-utility-outline: #8d9286
        }

    .root.red {
        --theme-color-on-surface-variant-2: linear-gradient(0deg,rgba(83,67,67,.08),rgba(83,67,67,.08));
        --theme-color-on-surface-variant-4: linear-gradient(0deg,rgba(83,67,67,.12),rgba(83,67,67,.12));
        --theme-color-on-surface-2: linear-gradient(0deg,rgba(33,26,26,.08),rgba(33,26,26,.08)),var(--theme-color-secondary-container);
        --theme-color-on-surface-4: linear-gradient(0deg,rgba(33,26,26,.12),rgba(33,26,26,.12)),var(--theme-color-secondary-container);
        --theme-color-white: #fff;
        --theme-color-on-background: #211a1a;
        --theme-color-background: #fcfcfc;
        --theme-color-on-surface: #211a1a;
        --theme-color-on-surface-variant: #534343;
        --theme-color-surface-0: #fcfcfc;
        --theme-color-surface-variant: #f4dedd;
        --theme-color-inverse-surface: #362f2f;
        --theme-color-inverse-on-surface: #fbeeed;
        --theme-color-primary: #9c4146;
        --theme-color-primary-80: #ffb3b5;
        --theme-color-primary-30: #7d2a30;
        --theme-color-primary-20: #5f121b;
        --theme-color-on-primary: #fff;
        --theme-color-primary-container: #ffdadb;
        --theme-color-on-primary-container: #400008;
        --theme-color-secondary: #765656;
        --theme-color-on-secondary: #fff;
        --theme-color-secondary-container: #ffdad9;
        --theme-color-on-secondary-container: #2d1516;
        --theme-color-tertiary-container: #fda;
        --theme-color-on-tertiary-container: #281800;
        --theme-color-utility-error: #ba1b1b;
        --theme-color-utility-on-error: #fff;
        --theme-color-utility-outline: #857373;
        --theme-color-surface-1: #f5f0f0;
        --theme-color-surface-2: #f3eaeb;
        --theme-color-surface-3: #f0e5e5;
        --theme-color-surface-4: #efe3e4;
        --theme-color-surface-5: #eddfe0;
        --theme-color-ref-secondary-200: #e6bcbc;
        --theme-color-ref-secondary-300: #c9a1a1;
        --theme-color-ref-neutral-100: #e3e3e3;
        --theme-color-ref-neutral-200: #c7c7c7
    }

        .root.red.dark-mode {
            --theme-color-on-surface-variant-2: linear-gradient(0deg,hsla(3,22%,80%,.08),hsla(3,22%,80%,.08));
            --theme-color-on-surface-variant-4: linear-gradient(0deg,hsla(3,22%,80%,.12),hsla(3,22%,80%,.12));
            --theme-color-on-surface-2: linear-gradient(0deg,hsla(4,28%,90%,.08),hsla(4,28%,90%,.08)),var(--theme-color-secondary-container);
            --theme-color-on-surface-4: linear-gradient(0deg,hsla(4,28%,90%,.12),hsla(4,28%,90%,.12)),var(--theme-color-secondary-container);
            --theme-color-white: #fff;
            --theme-color-on-background: #ede0df;
            --theme-color-background: #211a1a;
            --theme-color-on-surface: #ede0df;
            --theme-color-on-surface-variant: #d7c2c1;
            --theme-color-surface-0: #211a1a;
            --theme-color-surface-variant: #534343;
            --theme-color-surface-1: #2f2525;
            --theme-color-surface-2: #362929;
            --theme-color-surface-3: #3c2e2e;
            --theme-color-surface-4: #3e2f2f;
            --theme-color-surface-5: #433232;
            --theme-color-inverse-surface: #362f2f;
            --theme-color-inverse-on-surface: #fbeeed;
            --theme-color-primary: #ffb3b5;
            --theme-color-primary-80: #ffb3b5;
            --theme-color-primary-30: #7d2a30;
            --theme-color-primary-20: #5f121b;
            --theme-color-neutral-10: #211a1a;
            --theme-color-neutral-90: #ede0df;
            --theme-color-on-primary: #5f121b;
            --theme-color-primary-container: #7d2a30;
            --theme-color-on-primary-container: #ffdadb;
            --theme-color-secondary: #e6bcbc;
            --theme-color-on-secondary: #442929;
            --theme-color-secondary-container: #5c3f3f;
            --theme-color-on-secondary-container: #ffdad9;
            --theme-color-tertiary-container: #5b4219;
            --theme-color-on-tertiary-container: #fda;
            --theme-color-utility-error: #ffb4a9;
            --theme-color-utility-on-error: #680003;
            --theme-color-utility-outline: #a08c8c
        }

    .root.yellow {
        --theme-color-on-surface-variant-2: linear-gradient(0deg,rgba(72,71,58,.08),rgba(72,71,58,.08));
        --theme-color-on-surface-variant-4: linear-gradient(0deg,rgba(72,71,58,.12),rgba(72,71,58,.12));
        --theme-color-on-surface-2: linear-gradient(0deg,rgba(28,28,22,.08),rgba(28,28,22,.08)),var(--theme-color-secondary-container);
        --theme-color-on-surface-4: linear-gradient(0deg,rgba(28,28,22,.12),rgba(28,28,22,.12)),var(--theme-color-secondary-container);
        --theme-color-white: #fff;
        --theme-color-on-background: #1c1c16;
        --theme-color-background: #fffcf3;
        --theme-color-on-surface: #1c1c16;
        --theme-color-on-surface-variant: #48473a;
        --theme-color-surface-0: #fffcf3;
        --theme-color-surface-variant: #e6e3d1;
        --theme-color-inverse-surface: #31302b;
        --theme-color-inverse-on-surface: #f4f0e8;
        --theme-color-primary: #616200;
        --theme-color-primary-80: #cbcc58;
        --theme-color-primary-30: #494a00;
        --theme-color-primary-20: #323200;
        --theme-color-on-primary: #fff;
        --theme-color-primary-container: #e8e971;
        --theme-color-on-primary-container: #1d1d00;
        --theme-color-secondary: #606042;
        --theme-color-on-secondary: #fff;
        --theme-color-secondary-container: #e6e4bf;
        --theme-color-on-secondary-container: #1c1d06;
        --theme-color-tertiary-container: #bfedd9;
        --theme-color-on-tertiary-container: #002117;
        --theme-color-utility-error: #ba1b1b;
        --theme-color-utility-on-error: #fff;
        --theme-color-utility-outline: #797869;
        --theme-color-surface-1: #f4f1e4;
        --theme-color-surface-2: #f0eddd;
        --theme-color-surface-3: #ebe8d6;
        --theme-color-surface-4: #e9e7d3;
        --theme-color-surface-5: #e6e4ce;
        --theme-color-ref-secondary-200: #cac8a5;
        --theme-color-ref-secondary-300: #aead8a;
        --theme-color-ref-neutral-100: #e3e3e3;
        --theme-color-ref-neutral-200: #c7c7c7
    }

        .root.yellow.dark-mode {
            --theme-color-on-surface-variant-2: linear-gradient(0deg,hsla(54,15%,75%,.08),hsla(54,15%,75%,.08));
            --theme-color-on-surface-variant-4: linear-gradient(0deg,hsla(54,15%,75%,.12),hsla(54,15%,75%,.12));
            --theme-color-on-surface-2: linear-gradient(0deg,hsla(45,19%,87%,.08),hsla(45,19%,87%,.08)),var(--theme-color-secondary-container);
            --theme-color-on-surface-4: linear-gradient(0deg,hsla(45,19%,87%,.12),hsla(45,19%,87%,.12)),var(--theme-color-secondary-container);
            --theme-color-white: #fff;
            --theme-color-on-background: #e5e2d9;
            --theme-color-background: #1c1c16;
            --theme-color-on-surface: #e5e2d9;
            --theme-color-on-surface-variant: #c9c7b6;
            --theme-color-surface-0: #1c1c16;
            --theme-color-surface-variant: #48473a;
            --theme-color-surface-1: #28281c;
            --theme-color-surface-2: #2d2d1e;
            --theme-color-surface-3: #323220;
            --theme-color-surface-4: #343421;
            --theme-color-surface-5: #373722;
            --theme-color-inverse-surface: #31302b;
            --theme-color-inverse-on-surface: #f4f0e8;
            --theme-color-primary: #cbcc58;
            --theme-color-primary-80: #cbcc58;
            --theme-color-primary-30: #494a00;
            --theme-color-primary-20: #323200;
            --theme-color-neutral-10: #1c1c16;
            --theme-color-neutral-90: #e5e2d9;
            --theme-color-on-primary: #323200;
            --theme-color-primary-container: #494a00;
            --theme-color-on-primary-container: #e8e971;
            --theme-color-secondary: #cac8a5;
            --theme-color-on-secondary: #323219;
            --theme-color-secondary-container: #48482d;
            --theme-color-on-secondary-container: #e6e4bf;
            --theme-color-tertiary-container: #254e40;
            --theme-color-on-tertiary-container: #bfedd9;
            --theme-color-utility-error: #ffb4a9;
            --theme-color-utility-on-error: #680003;
            --theme-color-utility-outline: #939182
        }

.nav-transition * {
    transition: background-color .5s cubic-bezier(.2,0,0,1),background-image .5s cubic-bezier(.2,0,0,1)
}

mwc-button {
    --mdc-typography-button-font-family: var(--theme-v2-label-l-font-family);
    --mdc-typography-button-font-size: var(--theme-v2-label-l-font-size);
    --mdc-typography-button-line-height: var(--theme-v2-label-l-line-height);
    --mdc-typography-button-font-weight: var(--theme-v2-label-l-font-weight);
    --mdc-typography-button-letter-spacing: var(--theme-v2-label-l-letter-spacing);
    --mdc-typography-button-text-transform: none
}

:root {
    --theme-color-white: #fff;
    --theme-color-on-surface: #1f1f1f;
    --theme-color-scrim-video-container: rgba(31,31,31,.64);
    --theme-color-scrim-video-control: hsla(0,0%,100%,.12);
    --theme-color-scrim-video-control-pressed: hsla(0,0%,100%,.24)
}

* {
    box-sizing: border-box
}

#app, body, html {
    height: 100%;
    margin: 0
}

#app {
    font-family: var(--theme-v2-body-l-font-family);
    font-size: var(--theme-v2-body-l-font-size);
    font-weight: var(--theme-v2-body-l-font-weight);
    letter-spacing: var(--theme-v2-body-l-letter-spacing);
    line-height: var(--theme-v2-body-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-body-l-font-variation-GRAD),"opsz" var(--theme-v2-body-l-font-variation-opsz);
    color: var(--theme-color-on-surface)
}

@media screen and (max-width: 600px) {
    #app {
        font-family: var(--theme-v2-body-m-font-family);
        font-size: var(--theme-v2-body-m-font-size);
        font-weight: var(--theme-v2-body-m-font-weight);
        letter-spacing: var(--theme-v2-body-m-letter-spacing);
        line-height: var(--theme-v2-body-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-body-m-font-variation-GRAD),"opsz" var(--theme-v2-body-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    #app {
        font-family: var(--theme-v2-body-l-font-family);
        font-size: var(--theme-v2-body-l-font-size);
        font-weight: var(--theme-v2-body-l-font-weight);
        letter-spacing: var(--theme-v2-body-l-letter-spacing);
        line-height: var(--theme-v2-body-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-body-l-font-variation-GRAD),"opsz" var(--theme-v2-body-l-font-variation-opsz)
    }
}

h2, h4, h5, h6 {
    margin: 32px 0
}

h1 {
    font-family: var(--theme-v2-display-l-font-family);
    font-size: var(--theme-v2-display-l-font-size);
    font-weight: var(--theme-v2-display-l-font-weight);
    letter-spacing: var(--theme-v2-display-l-letter-spacing);
    line-height: var(--theme-v2-display-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-display-l-font-variation-GRAD),"opsz" var(--theme-v2-display-l-font-variation-opsz);
    margin: 0
}

@media screen and (max-width: 600px) {
    h1 {
        font-family: var(--theme-v2-display-s-font-family);
        font-size: var(--theme-v2-display-s-font-size);
        font-weight: var(--theme-v2-display-s-font-weight);
        letter-spacing: var(--theme-v2-display-s-letter-spacing);
        line-height: var(--theme-v2-display-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-s-font-variation-GRAD),"opsz" var(--theme-v2-display-s-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    h1 {
        font-family: var(--theme-v2-display-m-font-family);
        font-size: var(--theme-v2-display-m-font-size);
        font-weight: var(--theme-v2-display-m-font-weight);
        letter-spacing: var(--theme-v2-display-m-letter-spacing);
        line-height: var(--theme-v2-display-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-m-font-variation-GRAD),"opsz" var(--theme-v2-display-m-font-variation-opsz)
    }
}

h2 {
    font-family: var(--theme-v2-display-m-font-family);
    font-size: var(--theme-v2-display-m-font-size);
    font-weight: var(--theme-v2-display-m-font-weight);
    letter-spacing: var(--theme-v2-display-m-letter-spacing);
    line-height: var(--theme-v2-display-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-display-m-font-variation-GRAD),"opsz" var(--theme-v2-display-m-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h2 {
        font-family: var(--theme-v2-headline-l-font-family);
        font-size: var(--theme-v2-headline-l-font-size);
        font-weight: var(--theme-v2-headline-l-font-weight);
        letter-spacing: var(--theme-v2-headline-l-letter-spacing);
        line-height: var(--theme-v2-headline-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-l-font-variation-GRAD),"opsz" var(--theme-v2-headline-l-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    h2 {
        font-family: var(--theme-v2-display-s-font-family);
        font-size: var(--theme-v2-display-s-font-size);
        font-weight: var(--theme-v2-display-s-font-weight);
        letter-spacing: var(--theme-v2-display-s-letter-spacing);
        line-height: var(--theme-v2-display-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-s-font-variation-GRAD),"opsz" var(--theme-v2-display-s-font-variation-opsz)
    }
}

h3 {
    font-family: var(--theme-v2-display-s-font-family);
    font-size: var(--theme-v2-display-s-font-size);
    font-weight: var(--theme-v2-display-s-font-weight);
    letter-spacing: var(--theme-v2-display-s-letter-spacing);
    line-height: var(--theme-v2-display-s-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-display-s-font-variation-GRAD),"opsz" var(--theme-v2-display-s-font-variation-opsz);
    margin: 16px 0
}

@media screen and (max-width: 600px) {
    h3 {
        font-family: var(--theme-v2-headline-m-font-family);
        font-size: var(--theme-v2-headline-m-font-size);
        font-weight: var(--theme-v2-headline-m-font-weight);
        letter-spacing: var(--theme-v2-headline-m-letter-spacing);
        line-height: var(--theme-v2-headline-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-m-font-variation-GRAD),"opsz" var(--theme-v2-headline-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    h3 {
        font-family: var(--theme-v2-headline-l-font-family);
        font-size: var(--theme-v2-headline-l-font-size);
        font-weight: var(--theme-v2-headline-l-font-weight);
        letter-spacing: var(--theme-v2-headline-l-letter-spacing);
        line-height: var(--theme-v2-headline-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-l-font-variation-GRAD),"opsz" var(--theme-v2-headline-l-font-variation-opsz)
    }
}

h4 {
    font-family: var(--theme-v2-headline-s-font-family);
    font-size: var(--theme-v2-headline-s-font-size);
    font-weight: var(--theme-v2-headline-s-font-weight);
    letter-spacing: var(--theme-v2-headline-s-letter-spacing);
    line-height: var(--theme-v2-headline-s-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h4 {
        font-family: var(--theme-v2-headline-s-font-family);
        font-size: var(--theme-v2-headline-s-font-size);
        font-weight: var(--theme-v2-headline-s-font-weight);
        letter-spacing: var(--theme-v2-headline-s-letter-spacing);
        line-height: var(--theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    h4 {
        font-family: var(--theme-v2-headline-s-font-family);
        font-size: var(--theme-v2-headline-s-font-size);
        font-weight: var(--theme-v2-headline-s-font-weight);
        letter-spacing: var(--theme-v2-headline-s-letter-spacing);
        line-height: var(--theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
    }
}

h5 {
    font-family: var(--theme-v2-title-m-font-family);
    font-size: var(--theme-v2-title-m-font-size);
    font-weight: var(--theme-v2-title-m-font-weight);
    letter-spacing: var(--theme-v2-title-m-letter-spacing);
    line-height: var(--theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h5 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    h5 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

h6 {
    font-family: var(--theme-v2-title-m-font-family);
    font-size: var(--theme-v2-title-m-font-size);
    font-weight: var(--theme-v2-title-m-font-weight);
    letter-spacing: var(--theme-v2-title-m-letter-spacing);
    line-height: var(--theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h6 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    h6 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

b, strong {
    font-weight: 500
}

em {
    font-style: italic
}

a {
    font-family: var(--theme-v2-title-m-font-family);
    font-size: var(--theme-v2-title-m-font-size);
    font-weight: var(--theme-v2-title-m-font-weight);
    letter-spacing: var(--theme-v2-title-m-letter-spacing);
    line-height: var(--theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz);
    padding: 1px;
    border-radius: 4px;
    color: var(--theme-color-primary);
    text-decoration: underline
}

@media screen and (max-width: 600px) {
    a {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width:1294px) {
    a {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

a:hover {
    color: var(--theme-color-on-primary-container)
}

a:focus {
    margin: -1px;
    border: 1px solid var(--theme-color-primary);
    outline: 0;
    box-shadow: inset 0 0 0 1px var(--theme-color-surface-0)
}

a:hover:focus {
    border: 1px solid var(--theme-color-on-primary-container);
    outline: 0;
    color: var(--theme-color-on-primary-container)
}

p {
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em
}

code {
    font-family: var(--theme-v2-code-l-font-family);
    font-size: var(--theme-v2-code-l-font-size);
    font-weight: var(--theme-v2-code-l-font-weight);
    letter-spacing: var(--theme-v2-code-l-letter-spacing);
    line-height: var(--theme-v2-code-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-code-l-font-variation-GRAD),"opsz" var(--theme-v2-code-l-font-variation-opsz);
    padding: 0 2px;
    border-radius: 2px;
    background: var(--theme-color-surface-2)
}

ul {
    list-style: initial
}

.material-icons {
    font-family: Google Material Icons,Arial,sans-serif
}

.ripple {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    border-radius: 50%;
    filter: blur(4px)
}

.animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}







.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.box {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
}

    .box .loader {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: animateLoading 2s linear infinite;
    }

        .box .loader:nth-child(2),
        .box .loader:nth-child(4) {
            animation-delay: -1s;
            filter: hue-rotate(290deg);
        }

@keyframes animateLoading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box .loader:nth-child(1)::before,
.box .loader:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.5));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.container .loader i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9, 0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
    z-index: 10;
}

.box .loader span {
    position: absolute;
    inset: 20px;
    background: #000;
    border-radius: 50%;
    z-index: 1;
}