<div class="header " _nghost-xjk-c34="">
    <header class="full-width content-centered">
        <div class="primary-container background description"
             style="background-image: url(&quot;https://lh3.googleusercontent.com/7GLFdt-EPWPY2k7WvjHd-LDFITELyr8fAe3vEh80sG26wjcDLt7bnzg70U7Tq2O7j0MOjD1g8sj4J8mFEcEPJv2ml3wwJ9wAEucr-kgPCWVCCGwGADw=w2400-rj&quot;);">
            <div class="wrapper">
                <div class="title">
                    <h1 tabindex="-1">Material Design</h1>
                    <div class="description" style="">
                        Material 3 is the latest
                        version of Google’s open-source design system. Design and build beautiful, usable products with
                        Material 3.
                    </div>
                </div>
                <div class="ctas" style="">
                    <div class="">
                        <a target="_self" href="/get-started">
                            <button mioripple="" tabindex="-1" class="mio-button">
                                <div class="state-overlay">
                                </div>
                                <span class="label">Get started</span>
                                <div class="ripple">
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>