a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: "";
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}


 


h2, h4, h5, h6 {
    margin: 32px 0
}

h1 {
    font-family: var(--theme-v2-display-l-font-family);
    font-size: var(--theme-v2-display-l-font-size);
    font-weight: var(--theme-v2-display-l-font-weight);
    letter-spacing: var(--theme-v2-display-l-letter-spacing);
    line-height: var(--theme-v2-display-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-display-l-font-variation-GRAD),"opsz" var(--theme-v2-display-l-font-variation-opsz);
    margin: 0
}

@media screen and (max-width:600px) {
    h1 {
        font-family: var(--theme-v2-display-s-font-family);
        font-size: var(--theme-v2-display-s-font-size);
        font-weight: var(--theme-v2-display-s-font-weight);
        letter-spacing: var(--theme-v2-display-s-letter-spacing);
        line-height: var(--theme-v2-display-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-s-font-variation-GRAD),"opsz" var(--theme-v2-display-s-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h1 {
        font-family: var(--theme-v2-display-m-font-family);
        font-size: var(--theme-v2-display-m-font-size);
        font-weight: var(--theme-v2-display-m-font-weight);
        letter-spacing: var(--theme-v2-display-m-letter-spacing);
        line-height: var(--theme-v2-display-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-m-font-variation-GRAD),"opsz" var(--theme-v2-display-m-font-variation-opsz)
    }
}

h2 {
    font-family: var(--theme-v2-display-m-font-family);
    font-size: var(--theme-v2-display-m-font-size);
    font-weight: var(--theme-v2-display-m-font-weight);
    letter-spacing: var(--theme-v2-display-m-letter-spacing);
    line-height: var(--theme-v2-display-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-display-m-font-variation-GRAD),"opsz" var(--theme-v2-display-m-font-variation-opsz)
}

@media screen and (max-width:600px) {
    h2 {
        font-family: var(--theme-v2-headline-l-font-family);
        font-size: var(--theme-v2-headline-l-font-size);
        font-weight: var(--theme-v2-headline-l-font-weight);
        letter-spacing: var(--theme-v2-headline-l-letter-spacing);
        line-height: var(--theme-v2-headline-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-l-font-variation-GRAD),"opsz" var(--theme-v2-headline-l-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h2 {
        font-family: var(--theme-v2-display-s-font-family);
        font-size: var(--theme-v2-display-s-font-size);
        font-weight: var(--theme-v2-display-s-font-weight);
        letter-spacing: var(--theme-v2-display-s-letter-spacing);
        line-height: var(--theme-v2-display-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-s-font-variation-GRAD),"opsz" var(--theme-v2-display-s-font-variation-opsz)
    }
}

h3 {
    font-family: var(--theme-v2-display-s-font-family);
    font-size: var(--theme-v2-display-s-font-size);
    font-weight: var(--theme-v2-display-s-font-weight);
    letter-spacing: var(--theme-v2-display-s-letter-spacing);
    line-height: var(--theme-v2-display-s-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-display-s-font-variation-GRAD),"opsz" var(--theme-v2-display-s-font-variation-opsz);
    margin: 16px 0
}

@media screen and (max-width:600px) {
    h3 {
        font-family: var(--theme-v2-headline-m-font-family);
        font-size: var(--theme-v2-headline-m-font-size);
        font-weight: var(--theme-v2-headline-m-font-weight);
        letter-spacing: var(--theme-v2-headline-m-letter-spacing);
        line-height: var(--theme-v2-headline-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-m-font-variation-GRAD),"opsz" var(--theme-v2-headline-m-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h3 {
        font-family: var(--theme-v2-headline-l-font-family);
        font-size: var(--theme-v2-headline-l-font-size);
        font-weight: var(--theme-v2-headline-l-font-weight);
        letter-spacing: var(--theme-v2-headline-l-letter-spacing);
        line-height: var(--theme-v2-headline-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-l-font-variation-GRAD),"opsz" var(--theme-v2-headline-l-font-variation-opsz)
    }
}

h5 {
    font-family: var(--theme-v2-title-m-font-family);
    font-size: var(--theme-v2-title-m-font-size);
    font-weight: var(--theme-v2-title-m-font-weight);
    letter-spacing: var(--theme-v2-title-m-letter-spacing);
    line-height: var(--theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
}

@media screen and (max-width:600px) {
    h5 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h5 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

h6 {
    font-family: var(--theme-v2-title-m-font-family);
    font-size: var(--theme-v2-title-m-font-size);
    font-weight: var(--theme-v2-title-m-font-weight);
    letter-spacing: var(--theme-v2-title-m-letter-spacing);
    line-height: var(--theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
}

@media screen and (max-width:600px) {
    h6 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h6 {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

b, strong {
    font-weight: 500
}

em {
    font-style: italic
}

a {
    font-family: var(--theme-v2-title-m-font-family);
    font-size: var(--theme-v2-title-m-font-size);
    font-weight: var(--theme-v2-title-m-font-weight);
    letter-spacing: var(--theme-v2-title-m-letter-spacing);
    line-height: var(--theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz);
    padding: 1px;
    border-radius: 4px;
    color: var(--theme-color-primary);
    text-decoration: underline
}

@media screen and (max-width:600px) {
    a {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    a {
        font-family: var(--theme-v2-title-m-font-family);
        font-size: var(--theme-v2-title-m-font-size);
        font-weight: var(--theme-v2-title-m-font-weight);
        letter-spacing: var(--theme-v2-title-m-letter-spacing);
        line-height: var(--theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-m-font-variation-GRAD),"opsz" var(--theme-v2-title-m-font-variation-opsz)
    }
}

a:hover {
    color: var(--theme-color-on-primary-container)
}

a:focus {
    margin: -1px;
    border: 1px solid var(--theme-color-primary);
    outline: 0;
    box-shadow: inset 0 0 0 1px var(--theme-color-surface-0)
}

a:hover:focus {
    border: 1px solid var(--theme-color-on-primary-container);
    outline: 0;
    color: var(--theme-color-on-primary-container)
}

p {
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em
}

code {
    font-family: var(--theme-v2-code-l-font-family);
    font-size: var(--theme-v2-code-l-font-size);
    font-weight: var(--theme-v2-code-l-font-weight);
    letter-spacing: var(--theme-v2-code-l-letter-spacing);
    line-height: var(--theme-v2-code-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-code-l-font-variation-GRAD),"opsz" var(--theme-v2-code-l-font-variation-opsz);
    padding: 0 2px;
    border-radius: 2px;
    background: var(--theme-color-surface-2)
}

ul {
    list-style: initial
}

.ripple {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    border-radius: 50%;
    filter: blur(4px)
}

.animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

:host {
    display: block;
    margin-top: 112px;
    color: var(--theme-color-on-background)
}

@media screen and (max-width:960px) {
    :host {
        margin-top: 80px
    }
}

@media screen and (min-width:961px) and (max-width:1294px) {
    :host {
        margin-right: 88px
    }
}

@media screen and (max-width:960px) {
    :host {
        margin-right: 40px;
        margin-left: 40px
    }
}

@media screen and (max-width:600px) {
    :host {
        margin-right: 24px;
        margin-left: 24px
    }
}

:host(.dark-mode) ul li:before {
    background-image: url(/static/assets/list-bullet-dark.svg)
}

h2 {
    font-family: var(--theme-v2-display-l-font-family);
    font-size: var(--theme-v2-display-l-font-size);
    font-weight: var(--theme-v2-display-l-font-weight);
    letter-spacing: var(--theme-v2-display-l-letter-spacing);
    line-height: var(--theme-v2-display-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-display-l-font-variation-GRAD),"opsz" var(--theme-v2-display-l-font-variation-opsz)
}

@media screen and (max-width:600px) {
    h2 {
        font-family: var(--theme-v2-display-s-font-family);
        font-size: var(--theme-v2-display-s-font-size);
        font-weight: var(--theme-v2-display-s-font-weight);
        letter-spacing: var(--theme-v2-display-s-letter-spacing);
        line-height: var(--theme-v2-display-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-s-font-variation-GRAD),"opsz" var(--theme-v2-display-s-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h2 {
        font-family: var(--theme-v2-display-m-font-family);
        font-size: var(--theme-v2-display-m-font-size);
        font-weight: var(--theme-v2-display-m-font-weight);
        letter-spacing: var(--theme-v2-display-m-letter-spacing);
        line-height: var(--theme-v2-display-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-display-m-font-variation-GRAD),"opsz" var(--theme-v2-display-m-font-variation-opsz)
    }
}

h3 {
    font-family: var(--theme-v2-headline-m-font-family);
    font-size: var(--theme-v2-headline-m-font-size);
    font-weight: var(--theme-v2-headline-m-font-weight);
    letter-spacing: var(--theme-v2-headline-m-letter-spacing);
    line-height: var(--theme-v2-headline-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-headline-m-font-variation-GRAD),"opsz" var(--theme-v2-headline-m-font-variation-opsz)
}

@media screen and (max-width:600px) {
    h3 {
        font-family: var(--theme-v2-headline-s-font-family);
        font-size: var(--theme-v2-headline-s-font-size);
        font-weight: var(--theme-v2-headline-s-font-weight);
        letter-spacing: var(--theme-v2-headline-s-letter-spacing);
        line-height: var(--theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h3 {
        font-family: var(--theme-v2-headline-s-font-family);
        font-size: var(--theme-v2-headline-s-font-size);
        font-weight: var(--theme-v2-headline-s-font-weight);
        letter-spacing: var(--theme-v2-headline-s-letter-spacing);
        line-height: var(--theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
    }
}

h4 {
    font-family: var(--theme-v2-headline-s-font-family);
    font-size: var(--theme-v2-headline-s-font-size);
    font-weight: var(--theme-v2-headline-s-font-weight);
    letter-spacing: var(--theme-v2-headline-s-letter-spacing);
    line-height: var(--theme-v2-headline-s-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
}

@media screen and (max-width:600px) {
    h4 {
        font-family: var(--theme-v2-headline-s-font-family);
        font-size: var(--theme-v2-headline-s-font-size);
        font-weight: var(--theme-v2-headline-s-font-weight);
        letter-spacing: var(--theme-v2-headline-s-letter-spacing);
        line-height: var(--theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    h4 {
        font-family: var(--theme-v2-headline-s-font-family);
        font-size: var(--theme-v2-headline-s-font-size);
        font-weight: var(--theme-v2-headline-s-font-weight);
        letter-spacing: var(--theme-v2-headline-s-letter-spacing);
        line-height: var(--theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-headline-s-font-variation-GRAD),"opsz" var(--theme-v2-headline-s-font-variation-opsz)
    }
}

p.large, p.large a {
    font-family: var(--theme-v2-title-l-font-family);
    font-size: var(--theme-v2-title-l-font-size);
    font-weight: var(--theme-v2-title-l-font-weight);
    letter-spacing: var(--theme-v2-title-l-letter-spacing);
    line-height: var(--theme-v2-title-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-title-l-font-variation-GRAD),"opsz" var(--theme-v2-title-l-font-variation-opsz)
}

@media screen and (max-width:600px) {
    p.large, p.large a {
        font-family: var(--theme-v2-body-l-font-family);
        font-size: var(--theme-v2-body-l-font-size);
        font-weight: var(--theme-v2-body-l-font-weight);
        letter-spacing: var(--theme-v2-body-l-letter-spacing);
        line-height: var(--theme-v2-body-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-body-l-font-variation-GRAD),"opsz" var(--theme-v2-body-l-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    p.large, p.large a {
        font-family: var(--theme-v2-title-l-font-family);
        font-size: var(--theme-v2-title-l-font-size);
        font-weight: var(--theme-v2-title-l-font-weight);
        letter-spacing: var(--theme-v2-title-l-letter-spacing);
        line-height: var(--theme-v2-title-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-title-l-font-variation-GRAD),"opsz" var(--theme-v2-title-l-font-variation-opsz)
    }
}

p, p a, p.medium, p.medium a {
    font-family: var(--theme-v2-body-l-font-family);
    font-size: var(--theme-v2-body-l-font-size);
    font-weight: var(--theme-v2-body-l-font-weight);
    letter-spacing: var(--theme-v2-body-l-letter-spacing);
    line-height: var(--theme-v2-body-l-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-body-l-font-variation-GRAD),"opsz" var(--theme-v2-body-l-font-variation-opsz)
}

@media screen and (max-width:600px) {
    p, p a, p.medium, p.medium a {
        font-family: var(--theme-v2-body-m-font-family);
        font-size: var(--theme-v2-body-m-font-size);
        font-weight: var(--theme-v2-body-m-font-weight);
        letter-spacing: var(--theme-v2-body-m-letter-spacing);
        line-height: var(--theme-v2-body-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-body-m-font-variation-GRAD),"opsz" var(--theme-v2-body-m-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    p, p a, p.medium, p.medium a {
        font-family: var(--theme-v2-body-l-font-family);
        font-size: var(--theme-v2-body-l-font-size);
        font-weight: var(--theme-v2-body-l-font-weight);
        letter-spacing: var(--theme-v2-body-l-letter-spacing);
        line-height: var(--theme-v2-body-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-body-l-font-variation-GRAD),"opsz" var(--theme-v2-body-l-font-variation-opsz)
    }
}

p.small, p.small a {
    font-family: var(--theme-v2-body-m-font-family);
    font-size: var(--theme-v2-body-m-font-size);
    font-weight: var(--theme-v2-body-m-font-weight);
    letter-spacing: var(--theme-v2-body-m-letter-spacing);
    line-height: var(--theme-v2-body-m-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-body-m-font-variation-GRAD),"opsz" var(--theme-v2-body-m-font-variation-opsz)
}

@media screen and (max-width:600px) {
    p.small, p.small a {
        font-family: var(--theme-v2-body-m-font-family);
        font-size: var(--theme-v2-body-m-font-size);
        font-weight: var(--theme-v2-body-m-font-weight);
        letter-spacing: var(--theme-v2-body-m-letter-spacing);
        line-height: var(--theme-v2-body-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-body-m-font-variation-GRAD),"opsz" var(--theme-v2-body-m-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    p.small, p.small a {
        font-family: var(--theme-v2-body-m-font-family);
        font-size: var(--theme-v2-body-m-font-size);
        font-weight: var(--theme-v2-body-m-font-weight);
        letter-spacing: var(--theme-v2-body-m-letter-spacing);
        line-height: var(--theme-v2-body-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-body-m-font-variation-GRAD),"opsz" var(--theme-v2-body-m-font-variation-opsz)
    }
}

.table-wrapper {
    max-width: calc(100vw - 2 * 40px);
    border: 1px solid var(--theme-color-surface-variant);
    border-radius: 24px;
    overflow-x: auto
}

@media screen and (max-width:600px) {
    .table-wrapper {
        max-width: calc(100vw - 2 * 24px)
    }
}

.copy-button-container {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    height: -moz-max-content;
    height: max-content;
    margin-left: 20px
}

@media screen and (max-width:960px) {
    .copy-button-container {
        display: none
    }
}

@media screen and (min-width:1295px) {
    .copy-button-container {
        margin-top: 8px
    }
}

.copy-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    transition: opacity .2s cubic-bezier(.2,0,0,1);
    border-radius: 24px;
    opacity: 0;
    z-index: 2;
    font-family: Google Symbols;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden
}

    .copy-button:focus-visible, .copy-button:hover {
        opacity: 1
    }

        .copy-button:focus-visible + .copy-button-background, .copy-button:focus-visible ~ .tooltip, .copy-button:hover + .copy-button-background, .copy-button:hover ~ .tooltip {
            opacity: 1
        }

    .copy-button.activated + .copy-button-background {
        background: var(--theme-color-tertiary-container)
    }

    .copy-button.activated ~ .tooltip {
        width: 86px
    }

        .copy-button.activated ~ .tooltip .deactivated {
            opacity: 0;
            visibility: hidden
        }

        .copy-button.activated ~ .tooltip .activated {
            opacity: 1;
            visibility: visible
        }

.copy-button-background {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: var(--theme-color-on-surface-variant-2);
    z-index: 1
}

.copy-button-background, .tooltip {
    position: absolute;
    transition: all .2s cubic-bezier(.2,0,0,1);
    opacity: 0;
    pointer-events: none
}

.tooltip {
    font-family: var(--theme-v2-body-s-font-family);
    font-size: var(--theme-v2-body-s-font-size);
    font-weight: var(--theme-v2-body-s-font-weight);
    letter-spacing: var(--theme-v2-body-s-letter-spacing);
    line-height: var(--theme-v2-body-s-line-height);
    font-variation-settings: "GRAD" var(--theme-v2-body-s-font-variation-GRAD),"opsz" var(--theme-v2-body-s-font-variation-opsz);
    display: block;
    bottom: -28px;
    width: 74px;
    height: 24px;
    padding: 4px 11px;
    border-radius: 6px;
    background: rgba(48,48,48,.8);
    color: var(--theme-color-copy-link-tooltip)
}

    .tooltip .deactivated {
        opacity: 1;
        visibility: visible
    }

    .tooltip .activated, .tooltip .deactivated {
        position: absolute;
        transition: opacity .2s cubic-bezier(.2,0,0,1)
    }

    .tooltip .activated {
        opacity: 0;
        visibility: hidden
    }

::deep table {
    width: 100%;
    color: var(--theme-color-on-surface);
}

    ::deep table p {
        -webkit-margin-before: 0;
        margin-block-start: 0;
        -webkit-margin-after: 0;
        margin-block-end: 0
    }

::deep td, ::deep th {
    padding: 16px 24px;
    border-top: 1px solid var(--theme-color-surface-variant);
    border-right: 1px solid var(--theme-color-surface-variant);
    vertical-align: middle
}

    ::deep td:empty, ::deep th:empty {
        border-top: 0
    }

::deep tr :last-child {
    border-right: 0
}

::deep thead th {
    background: var(--theme-color-surface-1);
    color: var(--theme-color-on-surface-variant);
    font-weight: 500
}

::deep tbody:first-child tr:first-child td, ::deep thead:first-child tr:first-child th {
    border-top: 0
}

.block {
    display: grid;
    position: relative;
    max-width: 1112px;
    margin: 0 auto;
    padding-bottom: 104px;
    grid-gap: 20px;
    grid-template-columns: 68px repeat(auto-fit,minmax(calc(25% - 20px),1fr));
    overflow-x: auto
}

@media screen and (max-width:960px) {
    .block {
        display: block;
        padding-bottom: 112px
    }

        .block .chunk {
            margin-bottom: 56px
        }

            .block .chunk:last-child {
                margin-bottom: 0
            }
}

@media screen and (max-width:600px) {
    .block {
        max-width: calc(100vw - 2 * 24px)
    }
}

.block.snug {
    padding-bottom: 56px
}

@media screen and (max-width:960px) {
    .block.snug {
        padding-bottom: 80px
    }
}

.block:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.block:hover .copy-button {
    opacity: 1
}

ul {
    margin-left: 22px;
    list-style: none
}

    ul li {
        position: relative;
        margin-bottom: 16px
    }

        ul li:before {
            display: inline-block;
            position: absolute;
            top: 8px;
            left: -16px;
            width: 8px;
            height: 8px;
            transform: rotate(calc(var(--rotation) * 36deg));
            background-image: url(/static/assets/list-bullet.svg);
            line-height: 0;
            text-align: center;
            content: ""
        }

        ul li:nth-child(2) {
            --rotation: 2
        }

        ul li:nth-child(3n) {
            --rotation: 5
        }

        ul li:nth-child(3n+1) {
            --rotation: 7
        }

        ul li:nth-child(3n+2) {
            --rotation: 4
        }

        ul li:nth-child(4n) {
            --rotation: 9
        }

        ul li:nth-child(4n+1) {
            --rotation: 6
        }

        ul li:nth-child(4n+3) {
            --rotation: 3
        }

ol {
    padding-left: 0;
    list-style: none;
    counter-reset: item
}

    ol li {
        margin-top: 4px;
        margin-bottom: 20px;
        margin-left: 36px;
        counter-increment: item
    }

        ol li:before {
            font-family: var(--theme-v2-label-l-font-family);
            font-size: var(--theme-v2-label-l-font-size);
            font-weight: var(--theme-v2-label-l-font-weight);
            letter-spacing: var(--theme-v2-label-l-letter-spacing);
            line-height: var(--theme-v2-label-l-line-height);
            font-variation-settings: "GRAD" var(--theme-v2-label-l-font-variation-GRAD),"opsz" var(--theme-v2-label-l-font-variation-opsz);
            display: block;
            width: 24px;
            height: 32px;
            margin-top: -4px;
            margin-right: 10px;
            margin-left: -36px;
            float: left;
            border-radius: 12px;
            background: var(--theme-color-inverse-surface);
            color: var(--theme-color-inverse-on-surface);
            line-height: 32px;
            text-align: center;
            content: counter(item)
        }

@media screen and (max-width:600px) {
    ol li:before {
        font-family: var(--theme-v2-label-m-font-family);
        font-size: var(--theme-v2-label-m-font-size);
        font-weight: var(--theme-v2-label-m-font-weight);
        letter-spacing: var(--theme-v2-label-m-letter-spacing);
        line-height: var(--theme-v2-label-m-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-label-m-font-variation-GRAD),"opsz" var(--theme-v2-label-m-font-variation-opsz)
    }
}

@media screen and (min-width:601px) and (max-width:1294px) {
    ol li:before {
        font-family: var(--theme-v2-label-l-font-family);
        font-size: var(--theme-v2-label-l-font-size);
        font-weight: var(--theme-v2-label-l-font-weight);
        letter-spacing: var(--theme-v2-label-l-letter-spacing);
        line-height: var(--theme-v2-label-l-line-height);
        font-variation-settings: "GRAD" var(--theme-v2-label-l-font-variation-GRAD),"opsz" var(--theme-v2-label-l-font-variation-opsz)
    }
}

@media screen and (max-width:1294px) {
    ol li:before {
        line-height: 32px
    }
}

ol.upper-alpha li:before {
    content: counter(item,upper-alpha)
}

ol.lower-alpha li:before {
    content: counter(item,lower-alpha)
}

ol.lower-greek li:before {
    content: counter(item,lower-greek)
}

ol.lower-roman li:before {
    content: counter(item,lower-roman)
}

ol.upper-roman li:before {
    content: counter(item,upper-roman)
}

.text-chunk {
    padding-right: 1px;
    padding-left: 1px;
    overflow-y: hidden
}

    .text-chunk ol, .text-chunk p, .text-chunk ul {
        max-width: 760px
    }

    .text-chunk > :last-child {
        margin-bottom: 0
    }

    .text-chunk > :first-child {
        margin-top: 0
    }

.scroll-target {
    position: absolute;
    top: -120px
}

@media screen and (max-width:960px) {
    .scroll-target {
        top: -144px
    }
}
