<style>
    
</style>

<div role="region" class="block ng-star-inserted" id="70b5deea-188d-4520-aaef-f5481f3bd618">
    <div class="copy-button-container">
        <div mioripple="" class="google-symbols copy-button">
            link<div class="ripple">
            </div>
        </div>
        <div class="copy-button-background"></div>
        <div class="tooltip">
            <span class="deactivated">Copy link</span>
            <span aria-live="polite" class="activated">Link copied</span>
        </div>
    </div>
    <div class="scroll-target">
    </div>
    <div class="chunk ng-star-inserted" style="grid-column: span 1 / auto;">

        <div class="text-chunk ng-star-inserted">
            <div class="table-wrapper">
                @ChildContent
            </div>
        </div>

    </div>

</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}