:host[b-amfkj2o3kh] {
    display: flex;
    height: 100%;
}

.mdc-drawer[b-amfkj2o3kh] {
    border-color: rgba(0, 0, 0, 0.12);
    background-color: var(--mdc-theme-surface, #fff);
    border-top-left-radius: 0px;
    border-top-right-radius: var(--mdc-shape-large, 0);
    border-bottom-right-radius: var(--mdc-shape-large, 0);
    border-bottom-left-radius: 0px;
    z-index: 6;
    width: 256px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdc-drawer--dismissible[b-amfkj2o3kh] {
    left: 0px;
    right: initial;
    position: absolute;

    /*display: none;*/
    transform: translateX(-100%);
    transition-duration: 200ms;
}

.mdc-drawer--modal[b-amfkj2o3kh] {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
    left: 0px;
    right: initial;
    position: fixed;

    /*display: none;*/
    transform: translateX(-100%);
    transition-duration: 200ms;
}

.mdc-drawer[b-amfkj2o3kh] {
    width: var(--mdc-drawer-width, 256px);
}

.mdc-drawer--dismissible.mdc-drawer--open[b-amfkj2o3kh] {
    /*display: flex;*/
    transform: translateX(0px);
    transition-duration: 250ms;
}


.mdc-drawer--modal.mdc-drawer--open[b-amfkj2o3kh] {
    /*display: flex;*/
    transform: translateX(0px);
    transition-duration: 250ms;
}

.mdc-drawer__content[b-amfkj2o3kh] {
    height: 100%;
    overflow-y: auto;
}

.mdc-drawer-scrim[b-amfkj2o3kh] {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdc-drawer--modal + .mdc-drawer-scrim[b-amfkj2o3kh] {
    background-color: rgba(0, 0, 0, 0.32);
}

.mdc-drawer--open + .mdc-drawer-scrim[b-amfkj2o3kh] {
    display: block;
}

.mdc-drawer-app-content[b-amfkj2o3kh] {
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}

.mdc-drawer-app-content[b-amfkj2o3kh] {
    overflow: auto;
    flex: 1 1 0%;
}
